html, body{
 min-height: 100%;
 }
html{
 height: 100%;
}
body {
	font: 14px/1.3 Arial, sans-serif;
	background: #F1F1F1;
	margin: 0;
	color: #C2C2C2;
}
.ba-huge-search {
	max-width: 1000px;
	margin: 30px auto;
	display: block;
}
.huge-search{
	padding: 0;
	margin: 0;
	width: 80%;
	color: #C1C1C1;
	font-size: 100px;
	color: #ec5a62;
	display: inline-block;
	vertical-align: middle;
	border: none;
	background: #F1F1F1;
}
.huge-button{
	background-image: url(../images/magnifier.svg);
	width: 80px;
	height: 80px;
	display: inline-block;
	vertical-align: middle;
	border: none;
	background-color: transparent;
}
.main {
	margin-top: 30px;
}
.ba-people {
	width: 29%;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
.ba-popular {
	width: 29%;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
.ba-recent{
	width: 29%;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
.ba-popular {
	margin: 0 1%;
	box-sizing: border-box;
}
.main h2{
	text-transform: uppercase;
	margin: 20px 0;
}
.main a {
	display: block;
	background-color: #EBEBED;
	color: #C2C2C2;
	text-decoration: none;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	transition: all .1s ease-in;
}
.ba-people img {
	border-radius: 50%;
}
.results {
	list-style: none;
	padding: 0;
}
.ba-people img, .ba-popular img, .ba-recent img {
	display: inline-block;
	vertical-align: middle;
}
h3 {
	display: inline-block;
 	width: calc(100% - 65px);
 	vertical-align: middle;
 	word-wrap: break-word;
 	font-size: 14px;
}
.main a:hover{
	color: #ec5a62;
	background-color: #E4E4E6;
	transition: all .1s ease-in;
}
